html, body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* מרחיק את ההוראות למעלה ואת הלוח למטה */
    height: 100vh;
    margin: 0;
    background-color: black;
    color: aliceblue;
    opacity: 0.8;
}

.instruction {
    padding: 20px;
    /* הטקסט אוטומטית ממוקם משמאל למעלה בגלל שהדף באנגלית */
}

.gameboard {
    background-color: royalblue;
    width: 100%;
    height: 50vh; /* מגדיר בדיוק חצי ממסך התצוגה */
}