html, body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* מרחיק את ההוראות למעלה ואת הלוח למטה */
    height: 100vh;
    margin: 0;
    background-color: black;
    color: aliceblue;
    /* הורדתי את ה-opacity: 0.7 מה-body כדי שכל האתר לא יהיה שקוף, אם אתה רוצה רקע אפור כהה עדיף לשנות את צבע הרקע עצמו */
}

.instruction {
    padding: 20px;
}

#css-input {
    width: 300px;
    height: 100px;
    font-family: monospace;
    font-size: 16px;
    margin-top: 10px;
    background-color: #333;
    color: white;
}

.gameboard {
    position: relative; /* חשוב מאוד: מאפשר לשכבות לשבת בדיוק עליו */
    display: flex;
    flex-direction: row;
    background-color: royalblue;
    width: 100%;
    height: 50vh; /* מגדיר בדיוק חצי ממסך התצוגה */
}

/* שתי השכבות נפרסות על כל הלוח, אחת על השנייה */
.static-layer, .dynamic-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* מאפשר ל-Flexbox לעבוד על הפוכדור ופיקאצ'ו */
}

/* הגדרת פתיחה לשלב 1: הפוכדור בצד ימין */
.static-layer {
    justify-content: flex-end;
}

.pokeball {
    width: 10%;
    height: 20%;
    object-fit: contain; /* מונע מהתמונה להימעך */
}

.pikachu {
    width: 10%;
    height: 20%;
    object-fit: contain; /* מונע מהתמונה להימעך */
}